div{
    width: 800px;
    margin: auto;
}
h1{
    text-align: center;
    padding: 20px;
    color: black;
}
.pstyle1{

    background-color: #41484E;
    color:#DDD;
    padding-bottom: 20px; 
    padding-top:15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    
}
.pstyle2{
    background-color: #5E6F7D;
    color:#EEE;
    padding-bottom: 20px; 
    padding-top:10px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0px;
   
}