#page{
        font-size: 20px;
        border: 1em outset #B0893B;
        background-image: url(../images/crow.jpg);
        background-color: #B17D14;
        background-size: cover;
            /* С "cover" background image-a се разтяга максимално за да покрие екрана, а в работния пример височината и ширината са дадени в проценти 100 и 100 */

    }
    #stih{
        width: 31em;
        text-indent: 3em;
        line-height: 1.5em;
        color: #E7FDFF;
        font-family: sans-serif;
    }
    #author{
        text-align: center;
            color: #F4C76C
    }
    #title{
        text-align: center;
            font-style: italic;
            font-variant: small-caps;
            color: #322A1A;
    }

    .tkavichki{
       font-style: italic;
       letter-spacing: 2px; 
    }
    u{
      text-decoration: none;
      border-bottom: 2px groove orange;  
    }
    #zaavtora{
        color: #F4C76C;
        font-weight: bold;
        border-top: 10px double #B0893B;
    }
    #iztochnik{
        font-weight: bold;
    }